.message-card {
	width: 90%;
	border-radius: 3px;
	margin-bottom: 1em;
	padding: 1rem;
	background-color: lightcoral;
	color: #941111;
	position: relative;
}

.close-message {
	font-size: 1.2rem;
	font-weight: 500;
	position: absolute;
	top: 3px;
	right: 10px;
	cursor: pointer;
}
