.destination-container {
	width: 90%;
	margin: 5rem auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 2rem;
}

.destination-container form {
	background-color: lightgray;
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.destination-container label {
	color: #3a3a3a;
}

.destination-container input {
	width: 15rem;
	height: 2rem;
	font-size: 1rem;
	font-weight: 500;
	padding-left: 0.3rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 3px;
}

.map-container {
	width: 70%;
}

.map-container img {
	width: 100%;
	height: auto;
}

.travel-info {
	width: 20rem;
	padding: 1rem;
	background-color: lightgray;
	border-radius: 5px;
}

.travel-info > p {
	margin-top: 1rem;
	font-weight: 600;
}

.location-info {
	background-color: #ff6e40;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0.6rem;
	border-radius: 5px;
	position: relative;
}

.location-info p {
	position: relative;
	left: 1rem;
}

.location-info p::before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: -1rem;
	top: 50%;
	transform: translateY(-50%);
}

.location-info p:nth-child(2) {
	margin-top: 1.5rem;
}

.distance-bar {
	display: block;
	position: absolute;
	width: 2px;
	height: 3rem;
	top: 1.6rem;
	left: 0.8rem;
	background-color: white;
}

@media only screen and (max-width: 476px) {
	.destination-container {
		width: 95%;
		flex-direction: column;
		align-items: center;
	}

	.destination-container form {
		width: 100%;
	}

	.destination-container form input {
		width: 100%;
	}

	.map-container {
		width: 100%;
	}
}
