.form-container {
	margin: 5rem auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form {
	width: 30rem;
	border: 1px solid #ababab;
	border-radius: 5px;
	padding: 1.5rem 2.5rem;
}

.login-form h2 {
	margin-bottom: 1rem;
}

.login-form form {
	display: flex;
	flex-direction: column;
}

.input-container {
	height: 3rem;
	position: relative;
	margin-bottom: 0.8rem;
	overflow: hidden;
}

.input-container input {
	width: 100%;
	height: 100%;
	color: #595f6e;
	padding-top: 1.4rem;
	border: none;
	outline: none;
}

.input-container label {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: #595f6e;
	border-bottom: 1px solid #ababab;
	pointer-events: none;
}

.input-container label::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: -1px;
	border-bottom: 2px solid #5fa8d3;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.label-name {
	position: absolute;
	top: 1.4rem;
	left: 0;
	transition: all 0.3s ease;
}

.input-container input:focus + label .label-name,
.input-container input:valid + label .label-name {
	transform: translateY(-100%);
	font-size: 0.8rem;
	color: #5fa8d3;
}

.input-container input:focus + label:after,
.input-container input:valid + label:after {
	transform: translateX(0);
}

form button.login {
	all: unset;
	background-color: #ff6e40;
	width: 100%;
	height: 2rem;
	color: white;
	text-align: center;
	font-weight: 600;
	margin-top: 1rem;
	cursor: pointer;
}

button.login:focus {
	border: 0.3rem solid #ce5a36;
	border-radius: 4px;
}

.login[disabled] {
	background-color: #f78d6d;
}

.login-options {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.remember-label {
	margin-left: 3px;
	font-weight: 600;
}

form .reset,
.signup-text a {
	color: #ff6e40;
	text-decoration: underline;
}

.signup-text {
	text-align: center;
	margin-top: 2.5rem;
}

.divider {
	width: 20rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 1rem 0;
}

.divider hr {
	width: 40%;
}

.oauth-container {
	width: 20rem;
	display: flex;
	flex-direction: column;
}

.oauth-container button {
	all: unset;
	width: 100%;
	padding: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ababab;
	border-radius: 1.2rem;
	position: relative;
	margin: 0.3rem 0;
	font-weight: 600;
	cursor: pointer;
}

.oauth-container .auth-icon {
	position: absolute;
	left: 2px;
	top: 2px;
}

@media screen and (max-width: 578px) {
	.login-form {
		width: 90%;
	}
}
