nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.nav-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo {
	text-decoration: none;
	font-size: 2rem;
	color: #ff6e40;
	font-weight: 800;
}

.nav-links li {
	list-style: none;
	margin-left: 3rem;
	color: #2f2f2f;
	font-weight: 600;
}

.hamburger {
	width: 40px;
	height: 40px;
	display: none;
	padding: 0.7rem;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.hamburger:hover {
	background-color: #292929;
}

.hamburger span {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #e2e2e2;
}

.login-btn {
	all: unset;
	background-color: #ff6e40;
	color: white;
	padding: 0.2rem 1rem;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: inherit;
}
@media screen and (max-width: 768px) {
	nav {
		background-color: #3f3f3f;
		padding: 0.5rem 0;
	}
	.nav-links {
		padding: 2rem 5rem;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		position: absolute;
		right: 0rem;
		top: 3.6rem;
		background-color: white;
		border-radius: 0.3rem;
		box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
		transform: translateX(150%);
		transition: transform 0.4s ease;
	}

	.nav-links li {
		margin: 0.8rem 0;
	}

	.active {
		display: flex;
		transform: translateX(2rem);
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}
